<h1>Todos los productos, pero en tiempo real</h1>

<div>
	<h2>Socket.io</h2>
	
</div>
<div>
    <ul>


    </ul>
</div>



<script src="/socket.io/socket.io.js"></script>             <!-- Este script está dentro de la carpeta socket.io que se genera al instalar socket-->
<script src="/js/scriptRealTimeProducts.js"></script>       <!-- Este es nuestro script con la logica del cliente-->
<script>
    console.log("Desde la platilla")
</script>
<hr>
<h2>Formulario</h2>
    
<hr>
<h2>Lista de productos</h2>
<h3> {{#each listaProductos}}</h3>                          <!-- Aquí debe mostrar la lista de productos-->
        <div>
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>{{this.code}}</p>
            <p>{{this.price}}</p>
            <p>{{this.status}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.category}}</p>
            <p>{{this.thumbnail}}</p>
            <p>{{this.id}}</p>
        </div>
    {{/each}}